In [34]:
import pandas as pd
import numpy as np
import sqlite3
import functools as fn
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer 
import seaborn as sns
pd.set_option("max_rows",5000)

In [2]:
ls

1550201769_PBL 5 recommendation data (1).csv
CustomerSegmentation.ipynb
README.md
Untitled.ipynb

In [3]:
df = pd.read_csv("1550201769_PBL 5 recommendation data (1).csv", encoding='latin-1')

/Users/michael/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (20,33,73,106,158) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Customers.id,Customers.fname,Customers.lname,Customers.company,Customers.create_date,Customers.status,Customers.mailing,Customers.reminders,Customers.tax_exempt,Customers.account_id,...,Products.google_shopping_label,Products.product_option,Products.size,Products.material,Products.arm_style,Products.leg_style,Products.seat_size,Products.family_id,Products.saved_status,Products.freight_cost
0,797,Christy,Dill,Company0,1426018724,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF61071,0.0,NaN
1,3,John,Smith,Company1,1386089139,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF02132,NaN,NaN
2,3,John,Smith,Company1,1386089139,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2 x Extra large,Nitrile,NaN,NaN,NaN,PF00342,0.0,NaN
3,4,James,Anderson,NaN,1386780263,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF04970,NaN,NaN
4,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF03045,NaN,NaN

In [5]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4189    False
4190    False
4191    False
4192    False
4193    False
Length: 4194, dtype: bool

In [6]:
df.shape

(4194, 181)

In [7]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194 entries, 0 to 4193
Data columns (total 181 columns):
Customers.id                      int64
Customers.fname                   object
Customers.lname                   object
Customers.company                 object
Customers.create_date             int64
Customers.status                  float64
Customers.mailing                 float64
Customers.reminders               float64
Customers.tax_exempt              float64
Customers.account_id              float64
Customers.sales_rep               float64
Customers.rewards                 float64
Customers.profile_id              float64
Customers.last_modified           int64
Customers.customer_type           float64
Orders.id                         int64
Orders.customer_id                int64
Orders.fname                      object
Orders.lname                      object
Orders.company                    object
Orders.order_number               object
Orders.reorder_id                 float64
Orders.external_source            object
Orders.external_id                float64
Orders.currency                   object
Orders.sales_rep                  float64
Orders.subtotal                   float64
Orders.tax                        float64
Orders.shipping                   float64
Orders.coupon_id                  float64
Orders.coupon_amount              float64
Orders.gift_id                    float64
Orders.gift_amount                float64
Orders.fee_name                   object
Orders.fee_amount                 float64
Orders.discount_name              object
Orders.discount_amount            float64
Orders.total                      float64
Orders.balance_due                float64
Orders.shipping_carrier           object
Orders.shipping_method            object
Orders.shipping_trans             float64
Orders.shipping_flags             float64
Orders.weight                     float64
Orders.tracking                   object
Orders.payment_status             float64
Orders.payment_date               float64
Orders.payment_user               object
Orders.payment_type               object
Orders.payment_method             object
Orders.payment_amount             float64
Orders.purchase_order             float64
Orders.payment_id                 object
Orders.payment_code               object
Orders.payment_ref                float64
Orders.status                     int64
Orders.placed_date                int64
Orders.updated_date               float64
Orders.shipped_date               float64
Orders.comments                   object
Orders.notes                      object
Orders.registry_id                float64
Orders.gift_message               float64
Orders.website                    float64
Orders.mailing                    float64
Orders.flags                      float64
Orders.partial_ship               float64
Orders.customer_type              float64
Order_Items.id                    int64
Order_Items.parent                int64
Order_Items.product_id            float64
Order_Items.product_name          object
Order_Items.attributes            float64
Order_Items.attribute_names       object
Order_Items.attribute_prices      float64
Order_Items.qty                   int64
Order_Items.price                 float64
Order_Items.cost                  float64
Order_Items.registry_item         float64
Order_Items.related_id            float64
Order_Items.reorder_frequency     float64
Order_Items.account_id            float64
Order_Items.flags                 float64
Products.id                       float64
Products.status                   float64
Products.product_type             float64
Products.template                 object
Products.vendor                   float64
Products.import_id                float64
Products.name                     object
Products.display_name             object
Products.menu_name                float64
Products.list_price               float64
Products.price                    float64
Products.sale_price               float64
Products.cost                     float64
Products.flags                    float64
Products.left_flag                float64
Products.right_flag               float64
Products.last_modified            float64
Products.taxable                  float64
Products.shopping_gtin            float64
Products.shopping_brand           object
Products.shopping_mpn             object
Products.shopping_gender          object
Products.shopping_color           object
Products.shopping_age             object
Products.shopping_flags           float64
Products.amazon_asin              object
Products.amazon_type              float64
Products.amazon_item_type         object
Products.amazon_price             float64
Products.google_shopping_id       object
Products.google_shopping_type     object
Products.google_shopping_cat      object
Products.google_adwords           float64
Products.shopping_cat             float64
Products.shopping_type            object
Products.pricegrabber_cat         object
Products.shopzilla_cat            float64
Products.thefind_cat              object
Products.quickbooks_id            object
Products.qb_edit_sequence         float64
Products.price_break_type         float64
Products.price_breaks             float64
Products.short_description        object
Products.long_description         object
Products.websites                 float64
Products.video                    object
Products.audio                    float64
Products.seo_title                object
Products.seo_description          object
Products.seo_keywords             object
Products.seo_header               object
Products.seo_footer               float64
Products.seo_url                  object
Products.seo_category             float64
Products.unit                     object
Products.packaging                object
Products.display_packaging        object
Products.multiple                 object
Products.length                   float64
Products.width                    float64
Products.height                   float64
Products.rx                       object
Products.latex                    object
Products.upc                      float64
Products.msds_link                object
Products.msds_label               object
Products.lit_link                 object
Products.lit_label                object
Products.hcpcs                    object
Products.case_qty                 float64
Products.markup                   float64
Products.override_markup          float64
Products.notes                    object
Products.import_flags             float64
Products.map_price                float64
Products.features_title           object
Products.warranty                 object
Products.hygienic                 float64
Products.default_quantity         float64
Products.user_size                object
Products.assembly                 object
Products.installation             object
Products.shipping_length          float64
Products.shipping_width           float64
Products.shipping_height          float64
Products.shipping_weight          float64
Products.handling_time            object
Products.rotation_link            object
Products.google_shopping_label    float64
Products.product_option           object
Products.size                     object
Products.material                 object
Products.arm_style                object
Products.leg_style                float64
Products.seat_size                object
Products.family_id                object
Products.saved_status             float64
Products.freight_cost             float64
dtypes: float64(98), int64(10), object(73)
memory usage: 5.8+ MB

In [8]:
customer_df = df
orders_df = df
orderitems_df = df
products_df = df

In [9]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [10]:
#startswith() to change column names and assign to appropriate table

In [45]:
[elem for elem in df if elem.startswith('Customer')== False]

['Products.id',
 'Products.status',
 'Products.product_type',
 'Products.template',
 'Products.vendor',
 'Products.import_id',
 'Products.name',
 'Products.display_name',
 'Products.menu_name',
 'Products.list_price',
 'Products.price',
 'Products.sale_price',
 'Products.cost',
 'Products.flags',
 'Products.left_flag',
 'Products.right_flag',
 'Products.last_modified',
 'Products.taxable',
 'Products.shopping_gtin',
 'Products.shopping_brand',
 'Products.shopping_mpn',
 'Products.shopping_gender',
 'Products.shopping_color',
 'Products.shopping_age',
 'Products.shopping_flags',
 'Products.amazon_asin',
 'Products.amazon_type',
 'Products.amazon_item_type',
 'Products.amazon_price',
 'Products.google_shopping_id',
 'Products.google_shopping_type',
 'Products.google_shopping_cat',
 'Products.google_adwords',
 'Products.shopping_cat',
 'Products.shopping_type',
 'Products.pricegrabber_cat',
 'Products.shopzilla_cat',
 'Products.thefind_cat',
 'Products.quickbooks_id',
 'Products.qb_edit_sequence',
 'Products.price_break_type',
 'Products.price_breaks',
 'Products.short_description',
 'Products.long_description',
 'Products.websites',
 'Products.video',
 'Products.audio',
 'Products.seo_title',
 'Products.seo_description',
 'Products.seo_keywords',
 'Products.seo_header',
 'Products.seo_footer',
 'Products.seo_url',
 'Products.seo_category',
 'Products.unit',
 'Products.packaging',
 'Products.display_packaging',
 'Products.multiple',
 'Products.length',
 'Products.width',
 'Products.height',
 'Products.rx',
 'Products.latex',
 'Products.upc',
 'Products.msds_link',
 'Products.msds_label',
 'Products.lit_link',
 'Products.lit_label',
 'Products.hcpcs',
 'Products.case_qty',
 'Products.markup',
 'Products.override_markup',
 'Products.notes',
 'Products.import_flags',
 'Products.map_price',
 'Products.features_title',
 'Products.warranty',
 'Products.hygienic',
 'Products.default_quantity',
 'Products.user_size',
 'Products.assembly',
 'Products.installation',
 'Products.shipping_length',
 'Products.shipping_width',
 'Products.shipping_height',
 'Products.shipping_weight',
 'Products.handling_time',
 'Products.rotation_link',
 'Products.google_shopping_label',
 'Products.product_option',
 'Products.size',
 'Products.material',
 'Products.arm_style',
 'Products.leg_style',
 'Products.seat_size',
 'Products.family_id',
 'Products.saved_status',
 'Products.freight_cost',
 'Orders.id',
 'Orders.customer_id',
 'Orders.fname',
 'Orders.lname',
 'Orders.company',
 'Orders.order_number',
 'Orders.reorder_id',
 'Orders.external_source',
 'Orders.external_id',
 'Orders.currency',
 'Orders.sales_rep',
 'Orders.subtotal',
 'Orders.tax',
 'Orders.shipping',
 'Orders.coupon_id',
 'Orders.coupon_amount',
 'Orders.gift_id',
 'Orders.gift_amount',
 'Orders.fee_name',
 'Orders.fee_amount',
 'Orders.discount_name',
 'Orders.discount_amount',
 'Orders.total',
 'Orders.balance_due',
 'Orders.shipping_carrier',
 'Orders.shipping_method',
 'Orders.shipping_trans',
 'Orders.shipping_flags',
 'Orders.weight',
 'Orders.tracking',
 'Orders.payment_status',
 'Orders.payment_date',
 'Orders.payment_user',
 'Orders.payment_type',
 'Orders.payment_method',
 'Orders.payment_amount',
 'Orders.purchase_order',
 'Orders.payment_id',
 'Orders.payment_code',
 'Orders.payment_ref',
 'Orders.status',
 'Orders.placed_date',
 'Orders.updated_date',
 'Orders.shipped_date',
 'Orders.comments',
 'Orders.notes',
 'Orders.registry_id',
 'Orders.gift_message',
 'Orders.website',
 'Orders.mailing',
 'Orders.flags',
 'Orders.partial_ship',
 'Orders.customer_type',
 'Order_Items.id',
 'Order_Items.parent',
 'Order_Items.product_id',
 'Order_Items.product_name',
 'Order_Items.attributes',
 'Order_Items.attribute_names',
 'Order_Items.attribute_prices',
 'Order_Items.qty',
 'Order_Items.price',
 'Order_Items.cost',
 'Order_Items.registry_item',
 'Order_Items.related_id',
 'Order_Items.reorder_frequency',
 'Order_Items.account_id',
 'Order_Items.flags']

In [11]:
customer_df = customer_df.drop([elem for elem in df if elem.startswith('Customer')== False], axis=1)
products_df = products_df.drop([elem for elem in df if elem.startswith('Product')== False], axis=1)

In [12]:
orders_df = orders_df.drop([elem for elem in df if elem.startswith('Orders')== False], axis=1)
orderitems_df = orderitems_df.drop([elem for elem in df if elem.startswith('Order_Items')== False], axis=1)

In [13]:
cnx = sqlite3.connect(':memory:')

In [14]:
customer_df.to_sql(name='customer_df', con=cnx, index=False)
products_df.to_sql(name='products_df', con=cnx, index=False)
orders_df.to_sql(name='orders_df', con=cnx, index=False)
orderitems_df.to_sql(name='orderitems_df', con=cnx, index=False)

In [15]:
customer_df = pd.read_sql('select * from customer_df', cnx)
products_df = pd.read_sql('select * from products_df', cnx)
orders_df = pd.read_sql('select * from orders_df', cnx)
orderitems_df = pd.read_sql('select * from orderitems_df', cnx)

In [16]:
customer_df.head()

,Customers.id,Customers.fname,Customers.lname,Customers.company,Customers.create_date,Customers.status,Customers.mailing,Customers.reminders,Customers.tax_exempt,Customers.account_id,Customers.sales_rep,Customers.rewards,Customers.profile_id,Customers.last_modified,Customers.customer_type
0,797,Christy,Dill,Company0,1426018724,NaN,NaN,None,NaN,NaN,None,None,None,1437764306,0.0
1,3,John,Smith,Company1,1386089139,NaN,NaN,None,NaN,NaN,None,None,None,1437764354,0.0
2,3,John,Smith,Company1,1386089139,NaN,NaN,None,NaN,NaN,None,None,None,1437764354,0.0
3,4,James,Anderson,None,1386780263,NaN,NaN,None,NaN,NaN,None,None,None,1437762646,0.0
4,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,None,NaN,NaN,None,None,None,1437764316,0.0

In [17]:
df_list = [customer_df, products_df, orders_df, orderitems_df]

In [21]:
df = pd.concat(df_list, axis=1)

In [22]:
df.head()

,Customers.id,Customers.fname,Customers.lname,Customers.company,Customers.create_date,Customers.status,Customers.mailing,Customers.reminders,Customers.tax_exempt,Customers.account_id,...,Order_Items.attribute_names,Order_Items.attribute_prices,Order_Items.qty,Order_Items.price,Order_Items.cost,Order_Items.registry_item,Order_Items.related_id,Order_Items.reorder_frequency,Order_Items.account_id,Order_Items.flags
0,797,Christy,Dill,Company0,1426018724,NaN,NaN,None,NaN,NaN,...,None,None,1,57.20,44.00,None,None,NaN,None,NaN
1,3,John,Smith,Company1,1386089139,NaN,NaN,None,NaN,NaN,...,None,None,4,5.00,1.87,None,None,NaN,None,2.0
2,3,John,Smith,Company1,1386089139,NaN,NaN,None,NaN,NaN,...,None,None,1,68.78,52.50,None,None,NaN,None,NaN
3,4,James,Anderson,None,1386780263,NaN,NaN,None,NaN,NaN,...,None,None,1,19.56,12.62,None,None,NaN,None,NaN
4,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,None,NaN,NaN,...,None,None,1,36.05,25.75,None,None,NaN,None,NaN

In [23]:
df.shape

(4194, 181)

In [24]:
df1 = df.select_dtypes(exclude=['object'])
df2 = df.select_dtypes(include=['object'])

In [25]:
df1.shape

(4194, 74)

In [26]:
df2.shape

(4194, 107)

In [27]:
df1.head()

,Customers.id,Customers.create_date,Customers.status,Customers.mailing,Customers.tax_exempt,Customers.account_id,Customers.last_modified,Customers.customer_type,Products.id,Products.status,...,Orders.partial_ship,Orders.customer_type,Order_Items.id,Order_Items.parent,Order_Items.product_id,Order_Items.qty,Order_Items.price,Order_Items.cost,Order_Items.reorder_frequency,Order_Items.flags
0,797,1426018724,NaN,NaN,NaN,NaN,1437764306,0.0,2310.0,0.0,...,NaN,0.0,5284,3758,2310.0,1,57.20,44.00,NaN,NaN
1,3,1386089139,NaN,NaN,NaN,NaN,1437764354,0.0,177.0,1.0,...,NaN,0.0,31,23,177.0,4,5.00,1.87,NaN,2.0
2,3,1386089139,NaN,NaN,NaN,NaN,1437764354,0.0,1.0,0.0,...,NaN,0.0,11655,9531,1.0,1,68.78,52.50,NaN,NaN
3,4,1386780263,NaN,NaN,NaN,NaN,1437762646,0.0,983.0,0.0,...,NaN,0.0,1816,29,983.0,1,19.56,12.62,NaN,NaN
4,5,1386861599,0.0,0.0,NaN,NaN,1437764316,0.0,991.0,1.0,...,NaN,0.0,40,30,991.0,1,36.05,25.75,NaN,NaN

In [28]:
df2.head()

,Customers.fname,Customers.lname,Customers.company,Customers.reminders,Customers.sales_rep,Customers.rewards,Customers.profile_id,Products.product_type,Products.template,Products.name,...,Orders.gift_message,Orders.website,Orders.mailing,Order_Items.product_name,Order_Items.attributes,Order_Items.attribute_names,Order_Items.attribute_prices,Order_Items.registry_item,Order_Items.related_id,Order_Items.account_id
0,Christy,Dill,Company0,None,None,None,None,None,sub-product-detail.html,"Basic Steel Rollators,Green",...,None,None,None,"Basic Rollators, Green",None,None,None,None,None,None
1,John,Smith,Company1,None,None,None,None,None,sub-product-detail.html,Urinary Drain Bags,...,None,None,None,"Urinary Drain Bags,0.000",None,None,None,None,None,None
2,John,Smith,Company1,None,None,None,None,None,sub-product-detail.html,"SensiCare Nitrile Exam Gloves,Blue,XX-Large",...,None,None,None,"SensiCare Nitrile Exam Gloves, Blue, XX-Large",None,None,None,None,None,None
3,James,Anderson,None,None,None,None,None,None,sub-product-detail.html,Basket for 2-Button Walkers,...,None,None,None,Basket for 2-Button Walkers,None,None,None,None,None,None
4,Abraham,Pollak,Company3,None,None,None,None,None,sub-product-detail.html,TENS 3000 Analog Unit,...,None,None,None,Tens Units,None,None,None,None,None,None

In [37]:
df1.isnull().sum()

Customers.id                         0
Customers.create_date                0
Customers.status                  4093
Customers.mailing                 2080
Customers.tax_exempt              4189
Customers.account_id              4191
Customers.last_modified              0
Customers.customer_type            423
Products.id                        157
Products.status                    157
Products.vendor                    157
Products.import_id                 157
Products.list_price                177
Products.price                     158
Products.sale_price               3034
Products.cost                      157
Products.flags                    1207
Products.left_flag                2955
Products.last_modified             157
Products.taxable                  1235
Products.shopping_gtin            1064
Products.shopping_flags            277
Products.amazon_price             3602
Products.shopping_cat             1860
Products.shopzilla_cat            1860
Products.qb_edit_sequence          466
Products.seo_category             1357
Products.length                   3196
Products.width                    3198
Products.height                   3198
Products.upc                      2067
Products.case_qty                 1556
Products.override_markup          1274
Products.import_flags             1408
Products.map_price                4072
Products.hygienic                 2114
Products.shipping_length           196
Products.shipping_width            196
Products.shipping_height           196
Products.shipping_weight          3535
Products.google_shopping_label    3807
Products.saved_status              264
Orders.id                            0
Orders.customer_id                   0
Orders.reorder_id                 4112
Orders.external_id                4189
Orders.subtotal                      0
Orders.tax                         457
Orders.shipping                    195
Orders.coupon_id                  3312
Orders.coupon_amount              3312
Orders.fee_amount                 3916
Orders.discount_amount            3830
Orders.total                         0
Orders.balance_due                3843
Orders.weight                     4191
Orders.payment_status                5
Orders.payment_date                 18
Orders.payment_amount               18
Orders.status                        0
Orders.placed_date                   0
Orders.updated_date                 23
Orders.shipped_date                346
Orders.flags                      4193
Orders.partial_ship               4098
Orders.customer_type               183
Order_Items.id                       0
Order_Items.parent                   0
Order_Items.product_id              43
Order_Items.qty                      0
Order_Items.price                    0
Order_Items.cost                     3
Order_Items.reorder_frequency     4170
Order_Items.flags                 3186
dtype: int64

In [ ]:
df2 = pd.concat([df2['name'], df2['google_shopping_type'], df2['product_name'], df2['shopping_brand']], axis =1)

In [ ]:
df2.isnull().sum()

In [ ]:
df2 = pd.get_dummies(df2)

In [ ]:
df2.head()

In [ ]:
df1 = pd.concat([df1, df2], axis=1)

In [ ]:
def getelbowplot(df_in):

    sse = []
    K = range(1,15)
    for k in K:
        km = KMeans(n_clusters=k)
        km = km.fit(df_in)
        sse.append(km.inertia_)
        
    plt.plot(K, sse, 'bx-')
    plt.xlabel('Number of Clusters')
    plt.ylabel('Distortion')
    plt.title('Elbow Plot')

In [ ]:
droplist = []
for elem in df1:
    for cnt in range(len(df1[elem].unique())):
        if np.isnan(df1[elem].unique()[cnt]) == True and len(df1[elem].unique()) <=3 or len(df1[elem].unique()) <=1:
            droplist.append(elem)
        
df1 = df1.drop(droplist, axis = 1)

In [ ]:
df1.shape

In [ ]:
df1.head()

In [ ]:
df1 = df1.groupby('id').mean()

In [ ]:
df1.shape

In [ ]:
df1.isnull().sum().sum()

In [ ]:
df1 = df1.dropna(axis=1)

In [ ]:
df1.shape

In [ ]:
for elem in df1:
    print(elem+str(':'), df1[elem].unique())

In [ ]:
getelbowplot(df1)

In [ ]:
df1.head()

In [ ]:
#corr = df1.corr()

#sns.heatmap(abs(corr),xticklabels=corr.columns, yticklabels=corr.columns)